* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #eee; 
}
body { 
    font: 1em  Roboto, Helvetica, Arial;
}
header {
    background: #167C80;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 4em;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

input:not(#my-input) {
    font-size: 1.2em;
    width: 15em;
    margin: 1.5em auto;
    margin-bottom: 0;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 2px #167C80;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #167C80 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #167C80 4%);
    background-position: -15em 0;
    background-size: 15em 100%;
    background-repeat: no-repeat;
    color: #167C80;
}
input:not(#my-input):focus, input:not(#my-input):valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
input:not(#my-input):focus::-webkit-input-placeholder, 
input:not(#my-input):valid::-webkit-input-placeholder {
    color: #167C80;
    font-size: 0.7em;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important;
}
button {
    display: block;
    width: 8em;
    border: none;
    background: #29B6A6;
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    color: #fff;
    margin: 4em auto;
    margin-bottom: 1em;
}
button:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.input-notice {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: red;
}
a {
    display: block;
    width: 100%;
    text-align: center;
}

/* chatting page index.html */
#logout-btn, #submit-btn { 
    font-size: 0.8em;
    position: fixed;
    margin: 0 0;
}
#logout-btn {
    border-radius: 20px;
    border: 1px solid #eee; 
    width: 5em;
    top: 10px;
    right: 5px;
}
#online-info {
    background-color: #fff;
    color: #167C80;
    font-size: 0.7em;
    padding: 6px 10px;
    border-radius: 2px;
    border: 1px solid #666;
    position: fixed;
    top: 12px;
    left: 10px;
}
#update-notice {
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.7em;
    padding: 6px 10px;
    border-radius: 18px;
    position: fixed;
    top: 60px;
    left: 10px;
}
.main-header {
    margin-bottom: 1em;
}
.main-container {
    width: 60%;
    min-width: 14em;
    margin: 0 auto;
}
#msg-list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
.info-li, .info-li-me {
    display: block;
    float: left;
    clear: both;
    margin-top: 18px;
    margin-bottom: 2px; 
    font-size: 0.6em;
    color: #666;
}
.info-li-me {
    float: right;
    text-align: right;
}
.content-li, .content-li-me {
    white-space: normal;
    word-break: break-all;
    display: block;
    clear: both;
    width: 80%;
    padding: 8px 10px; 
    font-size: 0.9em;
    background-color: #fff;
    border-radius: 2px;
}
.content-li-me {
    white-space: normal;
    word-break: break-all;
    float: right;
    background-color: #1C8F94;
    color: #fff;
}
.blank-div {
    height: 3em;
    clear: both;
}
#my-input {
    background-color: #fff;
    color: #222;
    font-size: 1em;
    width: 60%;
    min-width: 10em;
    display: block;
    border: solid 2px #167C80;
    padding: 8px 4px;
    position: fixed;
    bottom: 0px;
}
#submit-btn {
    border-radius: 3px;
    height: 2.7em;
    width: 4em;
    bottom: 0px;
    right: 12%;
}